/* _base */

body {
    font-family: "Noto Sans TC", Roboto, sans-serif;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}