{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "indentation": 4,
    "number-leading-zero": "always",
    "string-quotes": "double",
    "declaration-colon-space-after": "always",
    "no-extra-semicolons": true,
    "scss/operator-no-unspaced": true
  }
}