<div class="pagination">
    <ul class="pagination-list d-flex justify-content-center font-en">
        <li class="page-item page-item-text py-3 px-4"><a href="#">上一頁</a></li>
        <li class="page-item py-3 px-4"><a href="#">1</a></li>
        <li class="page-item py-3 px-4 active"><a href="#">2</a></li>
        <li class="page-item py-3 px-4"><a href="#">3</a></li>
        <li class="page-item py-3 px-4"><a href="#">4</a></li>
        <li class="page-item py-3 px-4"><a href="#">5</a></li>
        <li class="page-item page-item-text py-3 px-4"><a href="#">下一頁</a></li>
    </ul>
</div>