.footer {
  background: $primary-color;
  color: white;

  a {
      color: white;

      &:hover {
          color: $primary-color-light;
      }
  }


  .nav {
      @include pad-sm {
          display: none;
      }
  }

  &-contact {
      flex-direction: column;

      @include mobile {
          font-size: 16px;
      }

      span {
          @include mobile {
              font-size: 24px;
              margin-right: 10px;
          }
      }
  }

  .social-link {
      @include pad-sm {
          gap: 8px;
      }
  }

  .social-icon {
      height: 48px;

      @include pad {
          width: 40px;
          height: 40px;
          object-fit: contain;
      }

      @include mobile {
          width: 24px;
          height: 24px;
      }
  }

  .copyright {
      @include mobile {
          flex-direction: column;
      }
  }

  .privacy {
      @include mobile {
          flex-direction: column;
      }
  }
}