/* _pages */

.banner {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
    height: 787px;
    background-size: cover;

    @include pad {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    }

  &-content {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

        @include pad-sm {
            p {
                font-size: 16px;
            }

            h1 {
                font-size: 24px;
            }

            a {
                margin: 8px;
            }
        }
    }
}

.intro {
    background-color: $primary-color-light;
    padding: 80px 0;
    text-align: center;

    @include mobile {
        padding: 40px 0;
    }

    .title {
        margin-bottom: 24px;
    }

    &-icon {
        width: 83.83px;
        padding-bottom: 8px;
    }

    &-list {
        flex-wrap: wrap;
    }

    &-card {
        @include pad {
            padding-bottom: 24px;
        }

        @include mobile {
            padding-bottom: 24px;
        }

        h3 {
            padding: 8px 0;

            @include mobile {
                font-size: 24px;
            }
        }

        p {
            color: $dark-color;
        }
    }
}

.classic {
    text-align: center;
    padding: 80px 0;

    @include mobile {
        padding: 40px 0;
    }

    .title {
        margin-bottom: 48px;

        @include mobile {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    &-list {
        flex-wrap: wrap;
    }

    &-card {
        @include pad {
            padding-bottom: 24px;
        }
    }

    &-img {
        width: 416px;
        padding-bottom: 8px;

        &:hover {
            filter: grayscale(100%);
            opacity: .9;
            transition: .5s ease-in-out;
        }
    }
}

.collab {
    text-align: center;
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    color: white;

    @include mobile {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
        padding: 40px 0;
    }

    .title {
        margin-bottom: 48px;

        @include mobile {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    &-list {
        cursor: pointer;
        @include pad {
            gap: 24px;
            flex-wrap: wrap;
        }
    }

    &-card {
        @include pad {
            width: 100%;
        }

        a {
            background: white;
            padding: 8px 0;
            width: 100%;

            &:hover {
                color: $primary-color-dark;
                transition: .5s ease-in-out;
            }
        }
    }

    &-img-cover {
        overflow: hidden;
    }

    &-img {
        height: 240px;
        background-size: cover;

        &-double {
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true");
            transform:scale(1,1);
            transition: all .5s ease-out;

            &:hover {
                transform:scale(1.1,1.1);
            }

            @include mobile {
                background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true");
            }
        }

        &-youth {
            background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true");
            transition: all .5s ease-out;

            &:hover {
                transform:scale(1.1,1.1);
            }

            @include mobile {
                background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true");
            }
        }
    }
}

.review {
    text-align: center;
    padding: 80px 0;

    @include mobile {
        padding: 40px 0;
    }

    .title {
        margin-bottom: 48px;

        @include mobile {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    &-list {
        flex-wrap: wrap;

        @include mobile {
        }
    }

    &-card {
        @include pad {
            padding-bottom: 24px;
        }

        @include mobile {
            padding-bottom: 24px;
        }

        &-container {
            height: 511px;
            flex-direction: column;
            text-align: left;
            box-shadow: 0 2px 6px #00000029;
            border: 1px solid #DEE2E6;
            border-radius: 4px;
            opacity: 1;

            img {
                height: 306px;
                object-fit: cover;
            }
        }
    }

    &-card-body {
        padding: 16px;
        display: flex;
        flex-direction: column;
        height: 100%;

        .name {
            font-weight: 500;
            padding-bottom: 8px;
        }

        .date {
            color: #707070;
            margin-top: auto;
        }
    }
}

.contact {
    background: $primary-color-light;
    padding: 80px 0;

    .title {
        text-align: center;
        margin-bottom: 48px;

        @include mobile {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    &-desc {
        margin-bottom: 24px;

        @include mobile {
            font-size: 16px;
        }
    }

    &-form {
        max-width: 100%;
        margin: 0 auto;
        flex-direction: column;

        @include pad {
            //max-width: 576px;
        }
    }

    &-list {
        flex-direction: column;
        gap: 16px;

        &-item {
            flex-direction: column;
            gap: 8px;
        }
    }

    .textarea input {
        height: 136px;
    }

    &-input {
        height: 36px;
        border: 1px solid $dark-color;
        background: $primary-color-light;

        &:focus {
            outline-color: $primary-color;
        }

        &::placeholder {
            font-family: $font-family-en;
            opacity: .2;
            color: $dark-color;
            padding: 6px 12px;
        }
    }

    &-btn {
        justify-content: center;
        margin-top: 48px;
    }
}