/* category */
.products-cat {
    &-list {
        @include pad {
            font-size: 24px;
        }
        @include mobile {
            font-size: 16px;
        }

        a {
            color: $dark-color;
        }
    }

    &-item {
        width: calc(100% / 3);
        border: 1px solid #DCDCDC;
        cursor: pointer;
        &:hover {
            background-color: #aa070122;
            transition: .25s ease-in-out;
        }
    }
    .active {
        border-bottom: 8px solid $primary-color;
    }
}

/* products */
.product {
    &-title {
        text-align: center;
        @include mobile {
            font-size: 24px;
        }
    }

    .color-sample {
        &-item {
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }
        &-dark {
            background-color: #5F3E2D;
        }
        &-chocolate {
            background-color: #B75929;
        }
    }
}



