.store {
    &-title {
        border-left: 8px solid $primary-color;
        @include mobile {
            font-size: 24px;
        }
    }

    &-search {
        &-label {
            @include mobile {
                font-size: 16px;
            }
        }
        &-select {
            padding: 6px 12px;
            min-width: 276px;
            font-size: 18px;
            color: #495057;
            border: 1px solid #CED4DA;
            &:focus {
                outline: 1px solid $primary-color;
                box-shadow: #aa070127;
            }
        }
    }

    &-card {
        &-img {
            height: 224px;
            object-fit: cover;
        }
        &-title {
            border: 1px solid #00000020;
        }
        &-info {
            border: 1px solid #00000020;
            a {
                color: $dark-color;
                &:hover {
                    text-decoration: underline 1px $primary-color-dark;
                }
            }
            span {
                font-size: 24px;
            }
        }
    }
    &-btn {
        width: 100%;
        padding: 16px 0;
        background: $dark-color;
        color: white;
        text-align: center;
        font-size: 19px;
        &:hover {
            background: $primary-color;
        }
    }

    /* store detail page */
    &-map {
        height: 100%;
        object-fit: cover;
    }

}