/* _utils 字級、排版工具 等 */

.primary-color {
    color: $primary-color;
}

.primary-color-dark {
    color: $primary-color-dark;
}

.font-en {
    font-family: $font-family-en;
}

.h1 {
    font-size: 72px;
}

.h2 {
    font-size: 64px;
}

.h3 {
    font-size: 48px;
}

.h4 {
    font-size: 42px;
}

.fs-1 {
    font-size: 36px;
}

.fs-2 {
    font-size: 32px;
}

.fs-3 {
    font-size: 24px;
}

.fs-4 {
    font-size: 20px;
}

.fs-5 {
    font-size: 14px;
}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

.font-italy {
    font-style: italic;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.d-block {
    display: block;
}

.w-50 {
    width: 50%;
}

.container-fluid {
    max-width: 100%;
    padding: 0;
}