<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>index</title>
    </head>
    <body>
        <%- include('./layout/header'); -%>

        <main>
            <nav class="products-cat container container-md-full font-medium">
                <ul class="products-cat-list d-flex fs-2 text-center">
                    <li class="products-cat-item py-6 py-4 active"><a href="./products.html">OPTICAL</a></li>
                    <li class="products-cat-item py-6 py-4"><a href="./productsSunglasses.html">SUNGLASSES</a></li>
                    <li class="products-cat-item py-6 py-4"><a href="#">FUNCTIONAL</a></li>
                </ul>
            </nav>

            <section class="products-banner">
                <div class="d-flex">
                    <picture class="w-50">
                        <source
                            media="(max-width: 768px)"
                            srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true"
                        />
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true" alt="product-banner1">
                    </picture>
                    <picture class="w-50">
                        <source
                            media="(max-width: 768px)"
                            srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true"
                        />
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true" alt="product-banner2">
                    </picture>
                </div>
            </section>

            <section class="product my-20 my-sm-10">
                <div class="container">
                    <div class="product-title pb-8">
                        <h1 class="h4 font-en font-medium">Celluloid Combi</h1>
                        <h2 class="fs-1">賽璐珞鈦金屬混合鏡框</h2>
                    </div>

                    <ul class="product-list d-flex flex-wrap row">
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="product-1">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="product-2">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="product-3">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="product-4">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>

                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="product-5">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="product-6">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="product-7">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="product-8">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>

                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="product-9">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="product-10">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="product-11">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                        <li class="product-card col-3 col-md-6 col-sm-12 pb-20 pb-md-10 pb-sm-6">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="product-12">
                            <div class="product-card-body">
                                <div class="product-info fs-3 font-en d-flex justify-content-between">
                                    <p>BJ41600S</p>
                                    <p class="font-medium primary-color">NTD3,490</p>
                                </div>
                                <div class="color-sample d-flex gap-2">
                                    <div class="color-sample-item color-sample-dark"></div>
                                    <div class="color-sample-item color-sample-chocolate"></div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <%- include('./layout/pagination') -%>
                </div>
            </section>
        </main>

        <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        </body>
</html>
