<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>index</title>
    </head>
    <body>
        <%- include('./layout/header'); -%>

        <main class="store">
            <div class="container">
                <h1 class="store-title h3 font-bold">門市據點</h1>

                <div class="store-search fs-3 d-flex">
                    <label for="area" class="store-search-label">選擇地區</label>
                    <select name="area" id="area" class="store-search-select">
                        <option value="台北市" selected>台北市</option>
                        <option value="台中市">台中市</option>
                        <option value="高雄市">高雄市</option>
                    </select>
                
                </div>
                <ul class="store-list row d-flex">
                    <li class="store-card col-4 col-md-6 col-sm-12">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true" alt="store-1">
                        <div class="store-card-body">
                            <h2 class="store-card-title fs-3">台北中山旗艦店</h2>
                            <ul class="store-card-info fs-4">
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> call </span>
                                    <a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> schedule </span>
                                    <a href="#">營業時間：10:00-21:00</a></li>
                                <li class="d-flex">
                                    <span class="material-symbols-outlined"> location_on </span>
                                    <a href="#">地址：台北市中山區南京東路25巷2-1號</a></li>
                            </ul>
                        </div>
                        <a href="./storeDetail.html" class="store-btn">詳細資訊</a>
                    </li>

                    <li class="store-card col-4 col-md-6 col-sm-12">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true" alt="store-2">
                        <div class="store-card-body">
                            <h2 class="store-card-title fs-3">台北綠園店</h2>
                            <ul class="store-card-info fs-4">
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> call </span>
                                    <a href="tel:+886 000-1234">電話：(02)000-2345 </a></li>
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> schedule </span>
                                    <a href="#">營業時間：10:00-21:00</a></li>
                                <li class="d-flex">
                                    <span class="material-symbols-outlined"> location_on </span>
                                    <a href="#">地址：台北市中正區復興南路 132-1 號</a></li>
                            </ul>
                        </div>
                        <a href="./storeDetail.html" class="store-btn">詳細資訊</a>
                    </li>

                    <li class="store-card col-4 col-md-6 col-sm-12">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true" alt="store-3">
                        <div class="store-card-body">
                            <h2 class="store-card-title fs-3">台中清水旗艦店</h2>
                            <ul class="store-card-info fs-4">
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> call </span>
                                    <a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> schedule </span>
                                    <a href="#">營業時間：10:00-21:00</a></li>
                                <li class="d-flex">
                                    <span class="material-symbols-outlined"> location_on </span>
                                    <a href="#">地址：台中市清水區經南一路 23 號 8 樓</a></li>
                            </ul>
                        </div>
                        <a href="./storeDetail.html" class="store-btn">詳細資訊</a>
                    </li>

                    <li class="store-card col-4 col-md-6 col-sm-12">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true" alt="store-4">
                        <div class="store-card-body">
                            <h2 class="store-card-title fs-3">高雄中正形象店</h2>
                            <ul class="store-card-info fs-4">
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> call </span>
                                    <a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> schedule </span>
                                    <a href="#">營業時間：10:00-21:00</a></li>
                                <li class="d-flex">
                                    <span class="material-symbols-outlined"> location_on </span>
                                    <a href="#">地址：高雄市苓雅區中正路 38 號 12 樓</a></li>
                            </ul>
                        </div>
                        <a href="./storeDetail.html" class="store-btn">詳細資訊</a>
                    </li>

                    <li class="store-card col-4 col-md-6 col-sm-12">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true" alt="store-5">
                        <div class="store-card-body">
                            <h2 class="store-card-title fs-3">高雄夢時代店</h2>
                            <ul class="store-card-info fs-4">
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> call </span>
                                    <a href="tel:+886 000-1234">電話：(02)000-1234</a></li>
                                <li class="info-pb d-flex">
                                    <span class="material-symbols-outlined"> schedule </span>
                                    <a href="#">營業時間：10:00-21:00</a></li>
                                <li class="d-flex">
                                    <span class="material-symbols-outlined"> location_on </span>
                                    <a href="#">地址：高雄市前鎮區中華一路 63 號 6 樓</a></li>
                            </ul>
                        </div>
                        <a href="./storeDetail.html" class="store-btn">詳細資訊</a>
                    </li>

                </ul>
            </div>
            
        </main>

        <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
        </body>
</html>
